{% extends '::base.html.twig' %}

{% block body %}
<div class="fullscreen_block">
    <div class="contactcircle" style="top: 0px; opacity: 1; 	z-index:99;">
        <p class="man">
        <h4 style="color:#ffffff"> Samuel Berthelot</h4>
        <b> <big>Photographe </big><BR />
                Luxembourg - Metz  <BR /> Strasbourg - Arlon</b>
        </p>
        <p class="phone">
            +352 69 1542795 			     
        </p>
        <p class="phone">
            +352 2799 6506
        </p>
        <p class="envelop">
            <a href="#">graphicsxp@gmail.com</a>
        </p>
    </div>
    <div class="img_container"></div>
</div>
{% endblock %}

{% block javascripts %}
<script type = "text/javascript" src ="{{ asset('js/fs_gallery.js') }}"></script>
<script>
    var path = "{{ asset('img/gallery/')}}";
    var pathThmb = "{{ asset('img/gallery/thmb/')}}";

    gallery_set = [//Gallery Data
        {image: path + 'gallery01.jpg', thmb: pathThmb + 'gallery01.jpg', alt: 'Photographe de mariage', fit: 'cover', title: "Photographe", description: "Luxembourg - Strasbourg - Metz - Arlon"},
        {image: path + '/gallery02.jpg', thmb: pathThmb + 'gallery02.jpg', alt: 'Lorem ipsum', fit: 'cover', title: "Photographe", description: "Luxembourg - Strasbourg - Metz - Arlon"},
        {image: path + '/gallery03.jpg', thmb: pathThmb + 'gallery03.jpg', alt: 'Dolor sit amet', fit: 'cover', title: "Dolor sit amet", description: "proin molestie pulvinar lorem sit amet placerat."},
        {image: path + '/gallery04.jpg', thmb: pathThmb + 'gallery04.jpg', alt: 'Ut luctus viv', fit: 'cover', title: "Ut luctus viv", description: "vestibulum ante ipsum primis in faucibus orci luctus."},
        {image: path + '/gallery05.jpg', thmb: pathThmb + 'gallery05.jpg', alt: 'Duis ante veli', fit: 'cover', title: "Duis ante veli", description: "ut eu urna eu ipsum ultrices dapibus sit amet"},
        {image: path + '/gallery06.jpg', thmb: pathThmb + 'gallery06.jpg', alt: 'Mauris pretium', fit: 'cover', title: "Mauris pretium", description: "luctus viverra urna non fermentum sit dolor."},
        {image: path + '/gallery07.jpg', thmb: pathThmb + 'gallery07.jpg', alt: 'Praesent doro', fit: 'cover', title: "Praesent doro", description: "commodo nulla magna, vel dignissim dui aliquet eu."},
        {image: path + '/gallery08.jpg', thmb: pathThmb + 'gallery08.jpg', alt: 'Curabitur ut', fit: 'cover', title: "Curabitur ut", description: "ante velit, blandit quis lacus eu, tincidunt vulputate."},
        {image: path + '/gallery09.jpg', thmb: pathThmb + 'gallery09.jpg', alt: 'Vestibulum eget', fit: 'cover', title: "Vestibulum eget", description: "varius interdum mauris sagittis tempor."},
        {image: path + '/gallery10.jpg', thmb: pathThmb + 'gallery10.jpg', alt: 'Curabitur pulvinar', fit: 'cover', title: "Curabitur pulvinar", description: "mauris pretium facilisis nisl nec suscipit."},
        {image: path + '/gallery11.jpg', thmb: pathThmb + 'gallery11.jpg', alt: 'Cras lobortis est', fit: 'cover', title: "Cras lobortis est", description: "quisque in ante ut augue rutrum venenatis urna."},
        {image: path + '/gallery12.jpg', thmb: pathThmb + 'gallery12.jpg', alt: 'Sed non ante', fit: 'cover', title: "Sed non ante", description: "curabitur mollis aliquet ligula tincidunt venenatis."},
        {image: path + '/gallery13.jpg', thmb: pathThmb + 'gallery13.jpg', alt: 'Aliquam tincidunt', fit: 'cover', title: "Aliquam tincidunt", description: "integer risus nibh, elementum non blandit suscipit."},
        {image: path + '/gallery14.jpg', thmb: pathThmb + 'gallery14.jpg', alt: 'Ut nec diam ac', fit: 'cover', title: "Ut nec diam ac", description: "morbi et dignissim tellus, eu porttitor lacus."},
    ];

    $('.fullscreen_block').fs_gallery({
        fx: 'fade', /*fade, zoom, slide_left, slide_right, slide_top, slide_bottom*/
        slide_time: 4000, /*This time must be < then time in css*/
        slides: gallery_set
    });
    </script>
{% endblock %}