{% extends '::base.html.twig' %}

{% block body %}
<div class="main_wrapper">
    <!-- C O N T E N T -->
    <div class="content_wrapper">
        <div class="page_title_block">
            <div class="container">
                <h1 class="title">FAQ</h1>
                <div class="breadcrumbs"><a href="home.html">Home</a><a href="#">Pages</a><span>FAQ</span></div>
            </div>
        </div>
        <div class="container">	            
            <div class="content_block no-sidebar row">
                <div class="fl-container span12">
                    <div class="row">
                        <div class="posts-block span12">
                            <div class="contentarea">

                                <div class="row-fluid">
                                    <div class="span12 module_cont module_toggle">
                                        <div class="bg_title"><h4 class="headInModule">Category 1</h4></div>
                                        <div class="shortcode_toggles_shortcode toggles">
                                            <h5 class="shortcode_toggles_item_title expanded_no" data-count="1">
                                                Consequat viverra ipsum, sed placerat ligula aliquam eu?
                                                <span class="ico"></span>
                                            </h5>
                                            <div class="shortcode_toggles_item_body">
                                                <div class="ip">
                                                    Fusce consequat, nunc sit amet lobortis tempor, est lorem suscipit urna, egestas volutpat diam dolor tincidunt odio. 
                                                    Integer pellentesque dictum lorem, id porttitor odio malesuada eu. Donec vel placerat diam. Ut lorem nisi, condimentum sit amet aliquam ac, 
                                                    rutrum non eros. In ultrices, magna sed ndum pellentesque, neque libero porttitor justo, vitae consequat dolor nibh vel ipsum. 
                                                    Praesent gravida posuere velit, et ornare velit rhoncus at curabitur eget magna libero, condimentum id dapibus sit amet, tincidunt id sem. 
                                                    Phasellus nec libero sed lectus ullamcorper porttitor ut tempus leo. Nulla dignissim vestibulum felis sed lacinia. 
                                                    In pretium felis eu nulla commodo eleifend. Cum sociis natoque penatibus et magnis dis parturient montes. 
                                                </div>
                                            </div>
                                            <h5 class="shortcode_toggles_item_title expanded_yes" data-count="2">
                                                Curabitur suscipit hendrerit egets porttitor. Aliquam nusl icien ullamcorper erat eget tempor dolorem pellentesque?
                                                <span class="ico"></span>
                                            </h5>
                                            <div class="shortcode_toggles_item_body">
                                                <div class="ip">
                                                    Fusce consequat, nunc sit amet lobortis tempor, est lorem suscipit urna, egestas volutpat diam dolor tincidunt odio. 
                                                    Integer pellentesque dictum lorem, id porttitor odio malesuada eu. Donec vel placerat diam. Ut lorem nisi, condimentum sit amet aliquam ac, 
                                                    rutrum non eros. In ultrices, magna sed ndum pellentesque, neque libero porttitor justo, vitae consequat dolor nibh vel ipsum. 
                                                    Praesent gravida posuere velit, et ornare velit rhoncus at curabitur eget magna libero, condimentum id dapibus sit amet, tincidunt id sem. 
                                                    Phasellus nec libero sed lectus ullamcorper porttitor ut tempus leo. Nulla dignissim vestibulum felis sed lacinia. 
                                                    In pretium felis eu nulla commodo eleifend. Cum sociis natoque penatibus et magnis dis parturient montes. 
                                                </div>
                                            </div>
                                            <h5 class="shortcode_toggles_item_title expanded_no" data-count="3">
                                                posuere cubilia curae nulla vestibulum eget ?
                                                <span class="ico"></span>
                                            </h5>
                                            <div class="shortcode_toggles_item_body">
                                                <div class="ip">
                                                    Fusce consequat, nunc sit amet lobortis tempor, est lorem suscipit urna, egestas volutpat diam dolor tincidunt odio. 
                                                    Integer pellentesque dictum lorem, id porttitor odio malesuada eu. Donec vel placerat diam. Ut lorem nisi, condimentum sit amet aliquam ac, 
                                                    rutrum non eros. In ultrices, magna sed ndum pellentesque, neque libero porttitor justo, vitae consequat dolor nibh vel ipsum. 
                                                    Praesent gravida posuere velit, et ornare velit rhoncus at curabitur eget magna libero, condimentum id dapibus sit amet, tincidunt id sem. 
                                                    Phasellus nec libero sed lectus ullamcorper porttitor ut tempus leo. Nulla dignissim vestibulum felis sed lacinia. 
                                                    In pretium felis eu nulla commodo eleifend. Cum sociis natoque penatibus et magnis dis parturient montes. 
                                                </div>
                                            </div>
                                            <h5 class="shortcode_toggles_item_title expanded_no" data-count="3">
                                                egets sed facilisis magna eros, id dictum arcu. Curabitur suscipit hendrerit?
                                                <span class="ico"></span>
                                            </h5>
                                            <div class="shortcode_toggles_item_body">
                                                <div class="ip">
                                                    Fusce consequat, nunc sit amet lobortis tempor, est lorem suscipit urna, egestas volutpat diam dolor tincidunt odio. 
                                                    Integer pellentesque dictum lorem, id porttitor odio malesuada eu. Donec vel placerat diam. Ut lorem nisi, condimentum sit amet aliquam ac, 
                                                    rutrum non eros. In ultrices, magna sed ndum pellentesque, neque libero porttitor justo, vitae consequat dolor nibh vel ipsum. 
                                                    Praesent gravida posuere velit, et ornare velit rhoncus at curabitur eget magna libero, condimentum id dapibus sit amet, tincidunt id sem. 
                                                    Phasellus nec libero sed lectus ullamcorper porttitor ut tempus leo. Nulla dignissim vestibulum felis sed lacinia. 
                                                    In pretium felis eu nulla commodo eleifend. Cum sociis natoque penatibus et magnis dis parturient montes. 
                                                </div>
                                            </div>
                                        </div><!--.shortcode_toggles_shortcode-->
                                    </div><!-- .module_cont -->
                                </div><!-- .row-fluid -->	                                    

                                <div class="row-fluid">
                                    <div class="span12 module_cont module_toggle">
                                        <div class="bg_title"><h4 class="headInModule">Category 2</h4></div>
                                        <div class="shortcode_toggles_shortcode toggles">
                                            <h5 class="shortcode_toggles_item_title expanded_yes" data-count="1">
                                                Consequat viverra ipsum, sed placerat ligula aliquam eu?
                                                <span class="ico"></span>
                                            </h5>
                                            <div class="shortcode_toggles_item_body">
                                                <div class="ip">
                                                    Fusce consequat, nunc sit amet lobortis tempor, est lorem suscipit urna, egestas volutpat diam dolor tincidunt odio. 
                                                    Integer pellentesque dictum lorem, id porttitor odio malesuada eu. Donec vel placerat diam. Ut lorem nisi, condimentum sit amet aliquam ac, 
                                                    rutrum non eros. In ultrices, magna sed ndum pellentesque, neque libero porttitor justo, vitae consequat dolor nibh vel ipsum. 
                                                    Praesent gravida posuere velit, et ornare velit rhoncus at curabitur eget magna libero, condimentum id dapibus sit amet, tincidunt id sem. 
                                                    Phasellus nec libero sed lectus ullamcorper porttitor ut tempus leo. Nulla dignissim vestibulum felis sed lacinia. 
                                                    In pretium felis eu nulla commodo eleifend. Cum sociis natoque penatibus et magnis dis parturient montes. 
                                                </div>
                                            </div>
                                            <h5 class="shortcode_toggles_item_title expanded_no" data-count="2">
                                                Curabitur suscipit hendrerit egets porttitor. Aliquam nusl icien ullamcorper erat eget tempor dolorem pellentesque?
                                                <span class="ico"></span>
                                            </h5>
                                            <div class="shortcode_toggles_item_body">
                                                <div class="ip">
                                                    Fusce consequat, nunc sit amet lobortis tempor, est lorem suscipit urna, egestas volutpat diam dolor tincidunt odio. 
                                                    Integer pellentesque dictum lorem, id porttitor odio malesuada eu. Donec vel placerat diam. Ut lorem nisi, condimentum sit amet aliquam ac, 
                                                    rutrum non eros. In ultrices, magna sed ndum pellentesque, neque libero porttitor justo, vitae consequat dolor nibh vel ipsum. 
                                                    Praesent gravida posuere velit, et ornare velit rhoncus at curabitur eget magna libero, condimentum id dapibus sit amet, tincidunt id sem. 
                                                    Phasellus nec libero sed lectus ullamcorper porttitor ut tempus leo. Nulla dignissim vestibulum felis sed lacinia. 
                                                    In pretium felis eu nulla commodo eleifend. Cum sociis natoque penatibus et magnis dis parturient montes. 
                                                </div>
                                            </div>
                                            <h5 class="shortcode_toggles_item_title expanded_no" data-count="3">
                                                posuere cubilia curae nulla vestibulum eget ?
                                                <span class="ico"></span>
                                            </h5>
                                            <div class="shortcode_toggles_item_body">
                                                <div class="ip">
                                                    Fusce consequat, nunc sit amet lobortis tempor, est lorem suscipit urna, egestas volutpat diam dolor tincidunt odio. 
                                                    Integer pellentesque dictum lorem, id porttitor odio malesuada eu. Donec vel placerat diam. Ut lorem nisi, condimentum sit amet aliquam ac, 
                                                    rutrum non eros. In ultrices, magna sed ndum pellentesque, neque libero porttitor justo, vitae consequat dolor nibh vel ipsum. 
                                                    Praesent gravida posuere velit, et ornare velit rhoncus at curabitur eget magna libero, condimentum id dapibus sit amet, tincidunt id sem. 
                                                    Phasellus nec libero sed lectus ullamcorper porttitor ut tempus leo. Nulla dignissim vestibulum felis sed lacinia. 
                                                    In pretium felis eu nulla commodo eleifend. Cum sociis natoque penatibus et magnis dis parturient montes. 
                                                </div>
                                            </div>
                                            <h5 class="shortcode_toggles_item_title expanded_no" data-count="3">
                                                egets sed facilisis magna eros, id dictum arcu. Curabitur suscipit hendrerit?
                                                <span class="ico"></span>
                                            </h5>
                                            <div class="shortcode_toggles_item_body">
                                                <div class="ip">
                                                    Fusce consequat, nunc sit amet lobortis tempor, est lorem suscipit urna, egestas volutpat diam dolor tincidunt odio. 
                                                    Integer pellentesque dictum lorem, id porttitor odio malesuada eu. Donec vel placerat diam. Ut lorem nisi, condimentum sit amet aliquam ac, 
                                                    rutrum non eros. In ultrices, magna sed ndum pellentesque, neque libero porttitor justo, vitae consequat dolor nibh vel ipsum. 
                                                    Praesent gravida posuere velit, et ornare velit rhoncus at curabitur eget magna libero, condimentum id dapibus sit amet, tincidunt id sem. 
                                                    Phasellus nec libero sed lectus ullamcorper porttitor ut tempus leo. Nulla dignissim vestibulum felis sed lacinia. 
                                                    In pretium felis eu nulla commodo eleifend. Cum sociis natoque penatibus et magnis dis parturient montes. 
                                                </div>
                                            </div>
                                        </div><!--.shortcode_toggles_shortcode-->
                                    </div><!-- .module_cont -->
                                </div><!-- .row-fluid -->	                                    

                                <div class="row-fluid">
                                    <div class="span12 module_cont module_feature_posts">
                                        <div class="bg_title"><h3 class="headInModule">Featured Works</h3></div>
                                        <div class="featured_slider">
                                            <div class="carouselslider featured_posts items4" data-count="4">
                                                <ul class="item_list">
                                                    <li>
                                                        <div class="item">
                                                            <div class="img_block">
                                                                <img src="img/pictures/carousel_works1.jpg" alt="" width="270" height="190">
                                                                <div class="ico_gallery"></div>
                                                                <div class="carousel_fadder"></div>
                                                            </div>
                                                            <div class="carousel_body">
                                                                <div class="post_type_ico">
                                                                    <span class="post_type_video"></span>
                                                                </div><!-- .post type -->                                                                
                                                                <div class="carousel_title">
                                                                    <h6><a href="#">Lorem ipsum dolor</a></h6>                                                                        
                                                                </div>
                                                                <div class="carousel_desc">	                                                                
                                                                    <div class="exc">Consectetur adipiscing elit ac Praesent laoreet rutrum suada duis ac nisi, ac sapiens ccumsan elementum acnullam</div>
                                                                </div>
                                                                <div class="carousel_meta"><span>25 April 2019 in</span> <a href="#">Portraits,</a> <a href="#">Fashion</a></div>
                                                            </div>
                                                        </div>
                                                    </li>                                          

                                                    <li>
                                                        <div class="item">
                                                            <div class="img_block">
                                                                <img src="img/pictures/carousel_works2.jpg" alt="" width="270" height="190">
                                                                <div class="ico_gallery"></div>
                                                                <div class="carousel_fadder"></div>
                                                            </div>
                                                            <div class="carousel_body">
                                                                <div class="post_type_ico">
                                                                    <span class="post_type_image"></span>
                                                                </div><!-- .post type -->                                                                
                                                                <div class="carousel_title">
                                                                    <h6><a href="#">Dolor sit amet</a></h6>                                                                        
                                                                </div>
                                                                <div class="carousel_desc">	                                                                
                                                                    <div class="exc">Nunc justo lacus, molestie ut porta id pharetra vestibulum proin sit amet aliquet massa phasellus id tristique mi</div>
                                                                </div>
                                                                <div class="carousel_meta"><span>25 April 2019 in</span> <a href="#">Portraits,</a> <a href="#">Fashion</a></div>
                                                            </div>
                                                        </div>
                                                    </li>                                          

                                                    <li>
                                                        <div class="item">
                                                            <div class="img_block">
                                                                <img src="img/pictures/carousel_works3.jpg" alt="" width="270" height="190">
                                                                <div class="ico_gallery"></div>
                                                                <div class="carousel_fadder"></div>
                                                            </div>
                                                            <div class="carousel_body">
                                                                <div class="post_type_ico">
                                                                    <span class="post_type_gallery"></span>
                                                                </div><!-- .post type -->                                                                
                                                                <div class="carousel_title">
                                                                    <h6><a href="#">Nunc justo lacus</a></h6>                                                                        
                                                                </div>
                                                                <div class="carousel_desc">	                                                                
                                                                    <div class="exc">Consectetur adipiscing elit ac Praesent laoreet rutrum suada duis ac nisi, ac sapiens ccumsan elementum acnullam</div>
                                                                </div>
                                                                <div class="carousel_meta"><span>25 April 2019 in</span> <a href="#">Portraits,</a> <a href="#">Fashion</a></div>
                                                            </div>
                                                        </div>
                                                    </li>

                                                    <li>
                                                        <div class="item">
                                                            <div class="img_block">
                                                                <img src="img/pictures/carousel_works4.jpg" alt="" width="270" height="190">
                                                                <div class="ico_gallery"></div>
                                                                <div class="carousel_fadder"></div>
                                                            </div>
                                                            <div class="carousel_body">
                                                                <div class="post_type_ico">
                                                                    <span class="post_type_video"></span>
                                                                </div><!-- .post type -->                                                                
                                                                <div class="carousel_title">
                                                                    <h6><a href="#">Lorem ipsum dolor</a></h6>                                                                        
                                                                </div>
                                                                <div class="carousel_desc">	                                                                
                                                                    <div class="exc">Consectetur adipiscing elit ac Praesent laoreet rutrum suada duis ac nisi, ac sapiens ccumsan elementum acnullam</div>
                                                                </div>
                                                                <div class="carousel_meta"><span>25 April 2019 in</span> <a href="#">Portraits,</a> <a href="#">Fashion</a></div>
                                                            </div>
                                                        </div>
                                                    </li>                                          

                                                    <li>
                                                        <div class="item">
                                                            <div class="img_block">
                                                                <img src="img/pictures/carousel_works5.jpg" alt="" width="270" height="190">
                                                                <div class="ico_gallery"></div>
                                                                <div class="carousel_fadder"></div>
                                                            </div>
                                                            <div class="carousel_body">
                                                                <div class="post_type_ico">
                                                                    <span class="post_type_image"></span>
                                                                </div><!-- .post type -->                                                                
                                                                <div class="carousel_title">
                                                                    <h6><a href="#">Dolor sit amet</a></h6>                                                                        
                                                                </div>
                                                                <div class="carousel_desc">	                                                                
                                                                    <div class="exc">Nunc justo lacus, molestie ut porta id pharetra vestibulum proin sit amet aliquet massa phasellus id tristique mi</div>
                                                                </div>
                                                                <div class="carousel_meta"><span>25 April 2019 in</span> <a href="#">Portraits,</a> <a href="#">Fashion</a></div>
                                                            </div>
                                                        </div>
                                                    </li>                                          

                                                    <li>
                                                        <div class="item">
                                                            <div class="img_block">
                                                                <img src="img/pictures/carousel_works6.jpg" alt="" width="270" height="190">
                                                                <div class="ico_gallery"></div>
                                                                <div class="carousel_fadder"></div>
                                                            </div>
                                                            <div class="carousel_body">
                                                                <div class="post_type_ico">
                                                                    <span class="post_type_gallery"></span>
                                                                </div><!-- .post type -->                                                                
                                                                <div class="carousel_title">
                                                                    <h6><a href="#">Nunc justo lacus</a></h6>                                                                        
                                                                </div>
                                                                <div class="carousel_desc">	                                                                
                                                                    <div class="exc">Consectetur adipiscing elit ac Praesent laoreet rutrum suada duis ac nisi, ac sapiens ccumsan elementum acnullam</div>
                                                                </div>
                                                                <div class="carousel_meta"><span>25 April 2019 in</span> <a href="#">Portraits,</a> <a href="#">Fashion</a></div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>                        
                                            </div>
                                            <div class="clear"></div>
                                        </div><!-- .featured_slider -->                                            
                                    </div><!-- .module_cont -->
                                </div><!-- .row-fluid -->                                	

                                <div class="row-fluid">
                                    <div class="span12 module_cont module_text_area">
                                        <p>Justo lacus, molestie ut porta id pharetra vestibulum proin sit amet aliquet massa phasellus idtiquet mi mauris eget ipsum ut nisi rhoncus sollicitudin 
                                            fusce accumsan libero a tellus feugiat fermentum mauris eu neque eu mi imperdiet. In hac habitasse platea dictumst. Ut in mauris libero. In vulputate rutrum 
                                            bibendum. Vivamus vitae mi id odio aliquet porta semper faucibus mi. In fermentum augue. </p>
                                        diam euismod aliquet tincidunt quam consequat pellentesque vel risus mauris praesent lorem. tellus, cursus eget rhoncus quis, eleifend nec eros mauris gravida 
                                        lectus eget dolor venenatis. Lorem ipsums dolor sit amet, consectetur adipiscing elit. Nam nec lectus mauris. Suspendisse et elit ut lacus convallis dapibus. 
                                        Nunc consequat, turpis ac iaculis porttitor, sem dui molestie mauris, eu ultrices urna dolor imperdiet sagittis in quis enim cras varius sed malesuada donem 
                                        pretium, nulla eu aliquet scelerisque, metus lectus varius diam, sit amet cursus turpis risus at purus. Quisque sed dictum. 
                                    </div><!--.module_cont -->                                        
                                </div><!-- .row-fluid -->

                            </div><!-- .contentarea -->
                        </div>
                        <div class="left-sidebar-block span3">
                            //Sidebar Text
                        </div><!-- .left-sidebar -->
                    </div>
                    <div class="clear"><!-- ClearFix --></div>
                </div><!-- .fl-container -->
                <div class="right-sidebar-block span3">
                    <aside class="sidebar">
                    </aside>
                </div><!-- .right-sidebar -->
                <div class="clear"><!-- ClearFix --></div>
            </div>
        </div><!-- .container -->
    </div><!-- .content_wrapper -->

</div><!-- .main_wrapper -->

<div class="header2top"></div>
{% endblock %}