{% extends '::base.html.twig' %}

{% block body %}
<div class="fullscreen_block">   
    <div class="img_container"></div>
</div>
{% endblock %}

{% block javascripts %}
<script type = "text/javascript" src ="{{ asset('js/fs_gallery.js') }}"></script>
<script>
    var path = "{{ asset('img/gallery/')}}";
    var pathThmb = "{{ asset('img/gallery/thmb/')}}";

    gallery_set = [//Gallery Data
        {image: path + 'gallery01.jpg', thmb: pathThmb + 'gallery01.jpg'},
        {image: path + '/gallery02.jpg', thmb: pathThmb + 'gallery02.jpg'},
        {image: path + '/gallery03.jpg', thmb: pathThmb + 'gallery03.jpg'},
        {image: path + '/gallery04.jpg', thmb: pathThmb + 'gallery04.jpg'},
        {image: path + '/gallery05.jpg', thmb: pathThmb + 'gallery05.jpg'},
        {image: path + '/gallery06.jpg', thmb: pathThmb + 'gallery06.jpg'},
        {image: path + '/gallery07.jpg', thmb: pathThmb + 'gallery07.jpg'},
        {image: path + '/gallery08.jpg', thmb: pathThmb + 'gallery08.jpg'},
        {image: path + '/gallery09.jpg', thmb: pathThmb + 'gallery09.jpg'},
        {image: path + '/gallery10.jpg', thmb: pathThmb + 'gallery10.jpg'},
        {image: path + '/gallery11.jpg', thmb: pathThmb + 'gallery11.jpg'},
        {image: path + '/gallery12.jpg', thmb: pathThmb + 'gallery12.jpg'},
        {image: path + '/gallery13.jpg', thmb: pathThmb + 'gallery13.jpg'},
        {image: path + '/gallery14.jpg', thmb: pathThmb + 'gallery14.jpg'},
    ];

    $.each(gallery_set, function(i, n) {
        n.description = "";
        n.title = "Paysages";
        n.alt = "Paysages";
    })

    $('.fullscreen_block').fs_gallery({
        fx: 'slide_left', /*fade, zoom, slide_left, slide_right, slide_top, slide_bottom*/
        slide_time: 4000, /*This time must be < then time in css*/
        slides: gallery_set
    });
    </script>
{% endblock %}