{% extends '::base.html.twig' %}

{% block body %}
<div class="fullscreen_block">   
    <div class="img_container"></div>
</div>
{% endblock %}

{% block javascripts %}
<script type = "text/javascript" src ="{{ asset('js/fs_gallery.js') }}"></script>
<script>
    var path = "{{ asset('img/gallery/')}}";
    var pathThmb = "{{ asset('img/gallery/thmb/')}}";

    gallery_set = [];//Gallery Data

    for (i = 1; i < 114; i++) {
        gallery_set.push({image: path + 'gallery' + i + '.jpg', thmb: pathThmb + 'gallery' + i + '.jpg'})
    }

    $.each(gallery_set, function(i, n) {
        n.description = "15/06/2013 - Strasbourg";
        n.title = "Angélique et Pierre";
        n.alt = "Mariage de Angélique et Pierre";
    })

    $('.fullscreen_block').fs_gallery({
        fx: 'slide_left', /*fade, zoom, slide_left, slide_right, slide_top, slide_bottom*/
        slide_time: 4000, /*This time must be < then time in css*/
        slides: gallery_set
    });
    </script>
{% endblock %}