{% extends '::base.html.twig' %}

{% block body %}

<div class="fullscreen_block">
    <div class="fullscreen_title">
        <h1>Paysages</h1>
        <a href="javascript:history.back()" class="btn_close"></a>
        <!--<a href="#" class="btn_next"></a>
        <a href="#" class="btn_prev"></a>-->
    </div>

    <div class="fullscreen_content_wrapper">
        <div class="featured_slider_wrapper fullscreen_container">
            <a href="javascript:void(0)" class="featured_prev"></a><a href="javascript:void(0)" class="featured_next"></a>
            <ul class="featured_slider-list">
                <li><img src="{{asset('img/portfoliopost/landscapes/post01.jpg')}}" alt="paysages" /></li>
                <li><img src="{{asset('img/portfoliopost/landscapes/post02.jpg')}}" alt="paysages"  /></li>
                <li><img src="{{asset('img/portfoliopost/landscapes/post03.jpg')}}" alt="paysages"  /></li>                
            </ul>
        </div>
    </div><!-- .fullscreen_content_wrapper -->

    <div class="fullscreen_content">
        <a href="javascript:void(0)" class="content_toggle"><span class="collapse">Cacher</span><span class="show">Plus d'info</span></a>        
        <div class="fullscreen_content_padding">
            <div class="row-fluid">
                <div class="span12 module_cont module_fs_meta module_none_padding">                
                    <p><span>Lieu:</span> Divers</p>
                    
                </div>								
            </div><!-- .row-fluid -->

            <div class="row-fluid">
                <div class="span12 module_cont module_text_area module_small_padding">
                    <p>Passioné de photographie, j'aprécie la photo de paysages, qui permet de m'isoler et d'être en harmonie avec la nature.</p>
                    <p>J'ai une préférence pour les paysages de bords de mer, notamment la Bretagne que j'affectionne particulièrement puisque ce sont mes origines.</p>
                    <a href="{{ path('PhotographPhotoBundle_gallery', {'name': 'paysages' }) }}">voir la galerie complète</a>
                </div>								
            </div><!-- .row-fluid -->

        </div><!-- .fullscreen_content_padding -->
    </div><!-- .fullscreen_content -->


    <div class="header2top"></div>
    {% endblock %}