{% extends '::base.html.twig' %}

{% block body %}

<div class="fullscreen_block">
    <div class="fullscreen_title">
        <h1>Angélique et Pierre</h1>
        <a href="javascript:history.back()" class="btn_close"></a>
        <!--<a href="#" class="btn_next"></a>
        <a href="#" class="btn_prev"></a>-->
    </div>

    <div class="fullscreen_content_wrapper">
        <div class="featured_slider_wrapper fullscreen_container">
            <a href="javascript:void(0)" class="featured_prev"></a><a href="javascript:void(0)" class="featured_next"></a>
            <ul class="featured_slider-list">
                <li><img src="{{asset('img/portfoliopost/angelique_et_pierre/post01.jpg')}}" alt="mariage pierre et angélique" /></li>
                <li><img src="{{asset('img/portfoliopost/angelique_et_pierre/post02.jpg')}}" alt="mariage pierre et angélique"  /></li>
                <li><img src="{{asset('img/portfoliopost/angelique_et_pierre/post03.jpg')}}" alt="mariage pierre et angélique"  /></li>                
            </ul>
        </div>
    </div><!-- .fullscreen_content_wrapper -->

    <div class="fullscreen_content">
        <a href="javascript:void(0)" class="content_toggle"><span class="collapse">Cacher</span><span class="show">Plus d'info</span></a>        
        <div class="fullscreen_content_padding">
            <div class="row-fluid">
                <div class="span12 module_cont module_fs_meta module_none_padding">                
                    <p><span>Lieu:</span>Strasbourg</p>
                    <p><span>Prestation:</span> Cérémonie, Vin d'honneur, Soirée, "Day After"     </p>                 
                </div>								
            </div><!-- .row-fluid -->

            <div class="row-fluid">
                <div class="span12 module_cont module_text_area module_small_padding">
                    <p>Angélique et Pierre forment un couple plein d'humour et de tendresse avec qui nous avons passé un merveilleux moment.</p>
                    <a href="{{ path('PhotographPhotoBundle_gallery', {'name': 'angelique-et-pierre'}) }}">voir la galerie complète</a>
                </div>								
            </div><!-- .row-fluid -->

        </div><!-- .fullscreen_content_padding -->
    </div><!-- .fullscreen_content -->


    <div class="header2top"></div>
    {% endblock %}